.App {
  text-align: center;
  background-color: #f5fffa !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
nav Button{
  background-color: #008080 !important;
  color:#f5fffa
}
.active Button{
  background-color:#f5fffa !important;
  color:#008080;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-logo1 {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo1 {
    animation: App-logo-spin1 infinite 50s linear;
  }
}

.App-header {
  background-color:#f5fffa ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
