.accordion {
  width: 50%;
}
.accordion-head {
  background-color: #c79e61;
  color: white;
  border-radius: 0.25rem;
}
.accordion-head:hover {
  background-color: #c79e61 !important;
  filter: brightness(95%);
}
.accordion-head:active {
  color: black;
}
