.CircleBtn {
  border-radius: 50% !important;
  margin: 2.5rem !important;
  padding: 5rem;
  background-color: #2f2e2e !important;
  color: #f5fffa;
  height: 160px;
  width: 160px;
}
.CircleBtn:hover {
  filter: brightness(150%);
}
.CircleBtn:active {
  background-color: #c79e61 !important;
  filter: unset;
}

.btn-text {
  font-size: 1.5rem;
  position: absolute;
  bottom: 17%;
  font-variant: small-caps;
}
