.accordion {
  width: 100%;
}
.accordion-item {
  border-radius: 0.25rem;
}
.accordion-item:nth-child(odd) {
  background-color: #e5eeeb;
}
.accordion-item:nth-child(even) {
  background-color: #f2faf6;
}
.accordion-head[aria-expanded="false"] {
  border-radius: 0.25rem;
}
.accordion-head[aria-expanded="true"] {
  border-radius: 0.25rem 0.25rem 0 0;
}
.accordion-head:active {
  color: black;
}
.apanel {
  text-align: justify;
  border-radius: 0 0 0.25rem 0.25rem;
  color: #f5fffa;
  background-color: #2f2e2e !important ;
}
.apanel input {
  background-color: black !important ;
  color: #f5fffa;
}
.tasks-content {
  width: 50%;
}
.tasks-btngrp, .tasks-search {
  width: 100%;
}
.tasks-nav-active Button {
  border-bottom: ridge;
}